@import "tailwindcss";

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --font-body: "Inter", sans-serif;
  --font-title: "Bebas Neue", cursive;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.font-subtitle {
  @apply font-title text-2xl tracking-wider md:text-3xl;
}
